<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | MatchBusiness</title>
  <link rel="stylesheet" href="../resource/styles/login.css">
</head>
<body>
<header>
  <nav>
    <div class="logo">
      <img src="../resource/images/logo.png" alt="logo" />
      <a href="./LandingPage.html">MatchBusiness</a>
    </div>

    <div class="nav-links">
      <a href="/login">login</a>
    </div>
  </nav>
</header>


<main>

<h1>INICIO DE SESIÓN</h1>
<p>Accede a tu cuenta</p>
<form action="/login" method="POST">
  <label for="document">💳 Número de Documento</label>
  <input type="text" id="document" name="document" required />

  <label for="password">🔒 Contraseña</label>
  <input type="password" id="password" name="password" required />

  <button type="submit">Iniciar Sesión</button>

  <a href="/home">Volver al inicio</a>

</main>


<footer>
        
        <div>

            <div>
                <div>
                    <img src="../resource/images/logo.png" alt="Logo">
                    <p>Match Business</p>
                </div>
                <div>
                    <img src="../resource/images/x.png" alt="X">
                    <img src="../resource/images/linkedin.png" alt="linkedin">
                    <img src="../resource/images/email.png" alt="Email">
                    <img src="../resource/images/insta.png" alt="Instagram">
                </div>
            </div>
            <div>

                <p>Connecting talented developers with innovative companies <br> to build the future through technology and innovation.</p>

            </div>

            <hr>

            <p>© 2025 Match Business. All rights reserved.</p>

        </div>

  </footer>
</body>