<div class="modal-overlay" id="modal-overlay">
    <div class="modal">
        <h2 id="proposal">Editar Propuesta - </h2>
        <div id="challenge-info">
            <b>Información del Desafío</b>
            <p id="company">Empresa: </p>
        </div>
        <div id="warning">
            <h4 class="warning">Importante</h4>
            <p class="warning">Solo puedes editar propuestas que están en estado "Pendiente" o "En revisión".
                Una vez edites tu propuesta, la empresa será notificada del cambio
            </p>
        </div>
        <h3>Título de tu Propuesta *</h3>
        <input type="text" id="inp-title">
        <h3>Descripción de tu propuesta *</h3>
        <textarea name="description" id="txt-description"></textarea>
        <div style="text-align: right;">
            <button id="btn-cancel"><i class="fa-solid fa-xmark"></i> Cancelar</button>
            <button id="btn-save"><i class="fa-solid fa-floppy-disk"></i> Guardar</button>
        </div>
    </div>
</div>